:root{
    --grey: #48484A;
    --orange: #EB6E4B;
    --white: #F2F2F2;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold{
    font-weight: bold;
    color: var(--orange);
}

.fade-in{
    animation: fadeIn 0.3s;
}

.box{
    width: 60%;
    margin: 3% auto;
    padding: 1rem;
    background-color: var(--orange);
    border-radius: 50px;
}

.box:hover{
    box-shadow: 0px 0px 25px grey;
    transform: scale(1.02);
}

